.wrapper-video-dino {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.video-dino{
  width: 100%;
}

.wrapper-video-dino::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-second-light);
  transition: transform 300ms linear;
}

.wrapper-video-dino > .play{
  display: none;
}

@media (min-height: 800px){
  .wrapper-video-dino.-play::before{
    transform: translateX(-100%);
  }

  .wrapper-video-dino > .play{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(250, 255, 255, 0.52);
    border-radius: 50%;
    transition: opacity 200ms linear;
  }

  .wrapper-video-dino.-play > .play {
    opacity: 0;
  }

  .wrapper-video-dino > .play::before{
    content: '';
    position: absolute;
    display: block;
  }
}
